<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
    <body>
        <ul>
            <li>Name: <%=singleDog.name%></li>
            <li>Age: <%=singleDog.age%></li>
            <li>Is Eat Meet: <%=singleDog.eatMeet%></li>
        </ul>
        <a href="http://localhost:3000/dog/"><button type="submit">Return to Index</button></a>
        <a href="http://localhost:3000/dog/<%=id%>/edit"><button type="submit">Edit</button></a>
    </body>
</html>